/go
/context.replay
/context.simple.favourites
/context.video.favourites
/plugin.audio.bbc
/plugin.audio.favourites
/plugin.program.downloader
/plugin.program.fixtures
/plugin.program.iptv.groups
/plugin.program.simple.favourites
/plugin.program.xmltv.meld
/plugin.video.addon.recorder
/plugin.video.addons.ini.creator
/plugin.video.addons.ini.player
/plugin.video.bbc
/plugin.video.bbc.live
/plugin.video.bbc.strms
/plugin.video.boilerroom
/plugin.video.dr.strms
/plugin.video.favourites
/plugin.video.hls.playlist.player
/plugin.video.imdb.search
/plugin.video.imdb.watchlists
/plugin.video.iptv.recorder
/plugin.video.iptvsimple.addons
/plugin.video.playlist.player
/plugin.video.pvr.plugin.player
/plugin.video.rageagain.again
/plugin.video.replay
/plugin.video.search.and.play
/plugin.video.stream.searcher
/plugin.video.tvlistings
/plugin.video.tvlistings.xmltv
/plugin.video.tvlistings.yo
/repository.imdbsearch
/repository.primaeval
/script.games.play.mame
/script.module.xbmcswift2
/script.skin.tightener
/script.tvguide.fullscreen
/script.tvguide.fullscreen.skin.blue
/script.tvguide.fullscreen.skin.carnelian
/script.tvguide.fullscreen.skin.kjb85
/script.tvguide.fullscreen.skin.lapis
/script.tvguide.fullscreen.skin.onyx
/script.tvguide.fullscreen.skin.tycoo
/script.tvguide.fullscreen.skin.wmc
/script.webgrab
/service.poke
/skin.confluence.wall
/skin.estuary.wall
/skin.naked
